/* UNIVERSAL STYLES */

a {
  color: seashell;
  font-size: 17px;
  text-decoration: none;
}

a:hover {
  color: #4c88e7;
}

body {
  font-family: "Helvetica" , sans-serif;
  font-size: 22px;
  background-color: #1b2828;
  height: 3000px;
}

h2 {
  margin-top: 2px;
}

h4 {
  padding-bottom: 4px;
}
/* NAVIGATION */

header {
  z-index: 2;
  width: 80%;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: #1b2828;
  border-bottom: 1px solid seashell;
  /*outline: 1px grey solid;*/
  height: 69px;
  /* background-color: dimgrey;
  opacity: .5; */

}

header img {
 padding-left: 10px;
 padding-top: 7px;
  height: 50px;
}

nav {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 20px;
  width: 100%;
  padding-top: 25px;
}

nav span {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 30px;
  float: right;
}

/*BODY*/

.mastercontainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1400px;
  background-color: grey;


}

/*.container1 {
  border: 1px #4c88e7 solid;
  z-index: 0;
  width: 1200px;
  height: 700px;
} */

.heroimage {
  margin: 0 auto;
  background-image: url("/Stuff/development projects/codecademyprojects/10.TeaCozy/resources/IMAGES/img-mission-background.jpg");
  margin-top: 69px;
  width: 1200px;
  height: 700px;
  border: 1px #4c88e7 solid;

}

#titlebar {
  margin: 0 auto;
  position: relavive;
  margin-top: 300px;
  z-index: 1;
  height: 100px;
  width: 1200px;
  color: white;
  text-align: center;
  border: 1px #4c88e7 solid;
  background-color: #1b2828;
}

.Teaofmonth {
  margin:  0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 1000px;
  border: 1px #4c88e7 solid;
  color: white;
  background-color: #1b2828;
}
