/* UNIVERSAL STYLES */

a {
  color: seashell;
  font-size: 17px;
  text-decoration: none;
}

a:hover {
  color: #4c88e7;
}

p {
  color: seashell;
  text-align: left;
  font-size: 12px;
  margin-left: 20px;
}

body {
  font-family: "Helvetica" , sans-serif;
  font-size: 22px;
  background-color: #1b2828;
  height: auto;
  color: seashell;
  opacity: 0.9;
}

h2 {
  margin-top: 2px;
  margin-bottom
  color: seashell;
}

h3 {
  padding-top: 35px;
  color: seashell;
}

h4 {
  margin-top: 12px;
  padding-bottom: 4px;
}

img {
  max-width: 100%;
  max-height: 100%;
}
/* NAVIGATION */

header {
  margin-top: -1%;
  margin-left: -1%;
  z-index: 2;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: #1b2828;
  border-bottom: 1px solid seashell;
  /*outline: 1px grey solid;*/
  height: 69px;
  /* background-color: dimgrey;
  opacity: .5; */

}

header img {
 padding-left: 10px;
 padding-top: 7px;
  height: 50px;
}

nav {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 20px;
  width: 100%;
  padding-top: 25px;
}

nav span {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 30px;
  float: right;
}

/*BODY*/

.mastercontainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1440px;
  height: auto;
  background-color: #1b2828;


}

/*.container1 {
  border: 1px #4c88e7 solid;
  z-index: 0;
  width: 1200px;
  height: 700px;
} */

.heroimage {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-image: url(../IMAGES/img-mission-background.jpg);
  margin-top: 69px;
  width: 1200px;
  height: 700px;
  /*border: 1px #4c88e7 solid;*/

}

#missionbar {
  margin: 0 auto;
  position: relavive;
  margin-top: 0px;
  z-index: 1;
  height: 100px;
  width: 1200px;
  color: white;
  text-align: center;
  /*border: 1px #4c88e7 solid;*/
  background-color: #1b2828;
}

.Teaofmonth {
  margin:  0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 1000px;
  /*border: 1px #4c88e7 solid;*/
  color: white;
  background-color: #1b2828;
}

.Teacontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;

}

#Teas1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 15px;
  width: 300px;
  height: 200px;
  background-color: seashell;

  /*border: 1px #4c88e7 solid;*/

}

.locationcontainer {
  background-size: cover;
  background-position-y: 70%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
  height: 500px;
  /*border: 1px #4c88e7 solid;*/
  background-image: url(../IMAGES/img-locations-background.jpg);

}

.locations {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.locationbox {
  opacity: 1;
  margin: 100px 40px;
  width: 300px;
  height: 300px;
  background-color: #1b2828;
  /*border: 1px #4c88e7 solid;*/
  text-align: center;
  color: seashell;
}

.locationbox:hover {
  color: #1b2828;
  background-color: #4c88e7;
}

.contact {
  padding-top: 40px;
  margin: 0 auto;
  text-align: center;
  color: seashell;
}
