/* UNIVERSAL STYLES */

a {
  color: seashell;
  font-size: 17px;
  text-decoration: none;
}

a:hover {
  color: #4c88e7;
}

body {
  font-family: "Helvetica" , sans-serif;
  font-size: 22px;
  background-color: #1b2828;
  height: 3000px;
}

h2 {
  padding-top: 0px;
}

h4 {
  margin-bottom: 10px;
}
/* NAVIGATION */

header {
  z-index: 2;
  width: 80%;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: #1b2828;
  border-bottom: 1px solid seashell;
  /*outline: 1px grey solid;*/
  height: 69px;
  /* background-color: dimgrey;
  opacity: .5; */

}

header img {
 padding-left: 10px;
 padding-top: 7px;
  height: 50px;
}

nav {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 20px;
  width: 100%;
  padding-top: 25px;
}

nav span {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 30px;
  float: right;
}

/*BODY*/

.container1 {
  z-index: 0;
  width: 1200px;
  height: 700px;
}

.heroimage {
  padding-top: 69px;
}

#titlebar {
  position: relative;
  bottom: 450px;
  z-index: 1;
  height: 100px;
  width: 1200px;
  color: white;
  text-align: center;
  /*border: 1px red solid;*/
  background-color: #1b2828;
}
